/* .main-container{

    background-image: url("../../assets/logos/flamengo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:auto;
    background-attachment: fixed;
   

} */
.background-fix {

    background-image: url(../../assets/logos/flamengo.png);
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px 15em;
 

}
.fade-in-espalda {
    animation: fadeInEspalda ease 2s;
    -webkit-animation: fadeInEspalda ease 2s;
    -moz-animation: fadeInEspalda ease 2s;
    -o-animation: fadeInEspalda ease 2s;
    -ms-animation: fadeInEspalda ease 2s;
  }
  
  
  @keyframes fadeInEspalda{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeInEspalda {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeInEspalda {
    0% {
      opacity:0;
    }
    
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeInEspalda {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeInEspalda {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  

  .fade-in {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
  }
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  