/* .main-container{

    background-image: url("../../assets/logos/flamengo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:auto;
    background-attachment: fixed;
   

} */